@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  background-image: url('./images/banner5.jpg');
  width: 100vw;
  min-height: 450px;
  max-height: 750px;
  background-size: cover;
  background-position: center;
}

.why-container {
  padding-top: 32px;
}
.why-title, .why-subtitle {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 100;
  padding-bottom: 16px;
}
.why-title-span {
  color: #F26301;
}
.why-subtitle {
  font-size: 1.2rem;
  font-weight: normal;
}

.why-reasons {
  padding-top: 10px;
  font-size: 1rem;
  color: #626262;
}


.ui.grid {
  padding-top: 80px;
}
.why-outline__column {
  text-align: center;
}

i.icon.why-outline__icon {
  font-size: 3rem;
  color: #F26301;
}

.why-outline__title {
  border-bottom: 1px solid #626262;
  padding-bottom: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #626262;
  font-size: 1.4rem;
}

.why-outline__text {
  padding-top: 20px;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  color: #626262;
  font-weight: 300;
}

p.why-outline__text {
  padding-bottom: 32px;
}
.ui.stackable.two.column.grid.why-outline {
  padding-top: 50px;
}

.ui.embed {
  margin: 0 auto;
}

.video {
  padding-bottom: 0px;
}
.video > h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #626262;
  font-weight: 600;
}

.manifesto {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./images/manifesto.jpg');
  width: 100vw;
  height: 800px;
  background-size: cover;
  background-position: center;
}

.ui.container.manifesto-content {
  padding-top: 60px;
  color: white;
}
.manifesto-text > h1 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2rem;
}
.manifesto-text > p, .manifesto-reasons {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}
.manifesto-text > p {
  padding-bottom: 20px;
}

.manifesto-reasons {
  padding-bottom: 12px;
}


@media (min-width: 400px){
  .video {
    padding-bottom: 70px;
  }
}


@media (min-width: 1280px){
  .banner {
    height: 80vh;
  }
} 

@media (min-width: 1290px){
  .why-title {
    font-size: 3rem
  }
  .why-subtitle {
    font-size: 2rem;
  }
  .why-reasons {
    font-size: 1.6rem;
  }
  .why-outline__text {
    font-weight: 600;
  }
  .manifesto-text > h1 {
    font-size: 2.5rem;
  }

}
